{% extends 'base_layout.html' %} {% block content %}
<div class="row mt-1">
    <div class="col-md-12">
        <div class="box-element">
            <!-- <a class="btn btn-outline-dark" href="{% url 'products:index'%}">&#x2190; Continue Shopping</a> -->
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5>Items: <strong>3</strong></h5>
                    </th>
                    <th>
                        <h5>Total: <strong>$42</strong></h5>
                    </th>
                    <th>
                        <a class="btn btn-outline-success excel" href="{% url 'cart:checkout'%}">Excel</a>
                        <a class="btn btn-outline-info csv">CSV</a>
                        <a class="btn btn-outline-danger pdf">PDF</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
    </div>

    <div class="col-md-12 ">
        <div class="box-element">
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Supplier Name</th>
                        <th>Product Name</th>
                        <th>Receipt Number</th>
                        <th>Quantity</th>
                        <th>VAT</th>
                        <th>Sub-Total Price</th>
                        <th>Total Price</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>SKU</th>
                    </tr>
                </thead>

        </div>

        <tbody id="table_result">
            {% for product in products%}
            <tr>
                <td>{{product.id}}</td>
                <td>{{supplier.name}}</td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}

        </tbody>
        </table>
    </div>
</div>

</div>
{% endblock content %}