{% extends 'base_layout.html' %} {% block content %}
<div class="row mt-1">
    <div class="col-md-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" data-toggle="modal" data-target="#myModal"> Add Product</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5>Items: <strong>3</strong></h5>
                    </th>
                    <th>
                        <h5>Total: <strong>$42</strong></h5>
                    </th>
                    <th>
                        <a class="btn btn-outline-success excel" href='#'>Excel</a>
                        <a class="btn btn-outline-info csv">CSV</a>
                        <a class="btn btn-outline-danger pdf">PDF</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
    </div>

    <div class="col-md-12 ">
        <div class="box-element">
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Supplier Name</th>
                        <th>Product Name</th>
                        <th>Receipt Number</th>
                        <th>Quantity</th>
                        <th>VAT</th>
                        <th>Sub-Total Price</th>
                        <th>Total Price</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>SKU</th>
                    </tr>
                </thead>

        </div>

        <tbody id="table_result">
            {% for product in products%}
            <tr>
                <td>{{product.id}}</td>
                <td>{{supplier.name}}</td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}

        </tbody>
        </table>
    </div>
</div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Product</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="name">Product Name</label>
                                <input type="text" name="product_name" placeholder="Product Name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="price">Price</label><input type="number" placeholder="Price of the Product" name="price" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"> <label for="desription">Description</label>
                                <textarea type="text" placeholder="Enter a simple description like colour, mass of the product" name="description" required>
                            </div>
                            <div class="col-md-6"><label for="quantity">Quantity</label><input type="number" placeholder="Number of the product" name="quantity" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"> <label for="image">Image of the product</label><input type="file" placeholder="Upload image of the product" name="image" required>
                            </div>
                            <div class="col-md-6"><label for="category">Category</label><input list="categories" placeholder="Select a category" name="category" required>
                                <datalist id="categories">
                                    <option value="Kitchenware">
                                    <option value="Toiletries">
                                    <option value="Clothes">
                                    <option value="Accessories">
                                    <option value="Electronics">
                                  </datalist>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

{% endblock content %}