{% extends 'base_layout.html' %}

{% block content %}
 <div class="row mt-1">
            <div class="col-md-12 ">
                <h2>All Purchases</h2>
                <table class="table table-striped table-bordered m-auto table-responsive">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Supplier Name</th>
                        <th>Product Name</th>
                        <th>Receipt Number</th>
                        <th>Product Description</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>VAT</th>
                        <th>Sub-Total Price</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>SKU</th>
                    </tr>
                    </thead>

                    <tbody id="table_result">
                    {% for product in  products%}
                    <tr>{{product.id}}</tr>
                    <tr>{{supplier.name}}</tr>
                    <tr>{{product.name}}</tr>
                    <tr>{{product.quantity}}</tr>
                    <tr>{{product.price}}</tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        </div>
{% endblock content %}