{% extends 'base_layout.html'%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"><img src="" alt="product image"></div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm6">
                    <label for="name">Product Name:</label>
                    <label for="db_name">some name to go here later</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm6">
                {% block content%}
                    <label for="db_name">{{product.name}}</label>
                    <label for="db_name">{{product.date_added}}</label>
                    <label for="db_name">Ksh: {{product.price}}</label>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>