<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <form role="form" action="{url 'accounts:reset_password'}" method="POST ">
                <div class="form-group ">
                    <label for="Email ">Email</label>
                    <input type="email " placeholder="yourname@host.com " name="usermail " id="mail ">
                    <button class="btn btn-outline-default ">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>