.dropdown-menu {
    border: none;
}

.dropdown-toggle {
    border: none;
    background: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 34rem) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    .card {
        height: 350px;
        background-color: #f8f9fa;
    }
    .card-columns {
        border: none;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    .card-image-top {
        height: 70px;
        width: 70px;
    }
    .card-title {
        color: #073d8d;
        text-align: left;
    }
}

.box-element {
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.checkout {
    float: right;
    margin: 5px;
}

.col-md-4 p {
    text-decoration-color: #ececec;
}

.card-footer big a {
    display: inline-block;
    text-align: left;
}

.footer-container {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.row-image {
    width: 100%;
}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

nav {
    background-color: #00dba0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

.price {
    text-align: left;
}

.csv .excel .pdf {
    display: flex;
    align-items: flex-stretch;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.hidden {
    display: none!important;
}

#search {
    width: 75%;
}

#search #search-btn {
    display: inline-block;
}

#price-h4 {
    display: inline-block;
    float: right;
}